body {
    background-color: #E0E9F4
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 0.55s ease-in-out;
  }

  .btn:hover {

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.55s ease-in-out;
  }